<h1>Animals ready for adoption</h1>


<div class="flex-container owners">
<% @animals.each do |animal| %>
<div class="flex-item owner">
<p>Name: <%=animal.name()%></p>
<p>Species: <%=animal.species%></p>
<p>Breed: <%=animal.breed%></p>
<p><a href="/animals/<%=animal.id%>" class='button'>Show animal</a></p>
</div>
<%end%>
</div>
