<h1>Welcome to the Scottish Animal Shelter</h1>
<div class="flex-container">
<div class="flex-item paragraph">
  <p>The Scottish Animal Shelter is here to help animals find the right home for them. Please feel free to register as a possible owner, or have a look at some of the animals we have available for adoption. Perhaps today will be the day you help an animal find their new forever home!</p>
</div>
  <div class="flex-item">
    <img src="/cat-pet-animal-domestic-104827.jpeg" alt="cat">
  </div>
  <div class="flex-item">
    <img src="/night-animal-dog-pet.jpg" alt="dog">
  </div>
  <div class="flex-item">
    <img src="/pexels-photo-326875.jpeg" alt="cat">
  </div>
</div>
