body {
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
background-color: #F4F4F9;
}

h1 {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
}
h3 {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 15.4px;
}
p {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;
}
blockquote {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 21px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 30px;
}
pre {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 13px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 18.5714px;
}

img {
  width: 350px;
}

.flex-container {
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
fieldset{
  width: 500px
}

#hooray{
  width: 150px;
  margin: 10px;
}
.field {
  float: left;
  width: 100px;
  font-weight: bold;
}

.idpicture{
  width: 200px;
}

.flex-item {
    min-width: 25%;
    margin: 10px;
}

.owners {
  justify-content: space-around;
}

.owner {
  text-align: center;
border-style: solid;
border-width: 1px;
border-color: #586F7C;
}

.button {
    background-color: #04724D;
    border: none;
    color: #000000;
    padding: 15px 32px;
    margin: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;

}

.button:hover {
    background-color: #B8DBD9;
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #04724D;
}

li {
    float: left;
}

li a {
    display: block;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #B8DBD9;
}

.active {
    background-color: white;
}
